@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

body {
   font-family: "Skranji";
   font-size: 16px;
}
.wrapper {
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
   background: url(../bg/bg.jpg);
   background-size: 100%;
}

.title {
   text-align: center;
   font-size: 70px;
   margin-bottom: 50px;
   color: rgb(235, 181, 34);
}

.btn {
   padding: 10px 15px;
   display: flex;
   justify-content: center;
   background-color: rgba(0, 128, 0, 0.63);
   font-size: 25px;
   color: white;
   border: 3px solid green;
   border-radius: 15px;
   width: 100%;
   transition: 0.3s all ease 0s;
   &:not(:last-child) {
      margin-bottom: 20px;
   }
   &:hover {
      background-color: green;
      transition: 0.3s all ease 0s;
   }
}
// GAME

.game__wrapper {
   min-height: 100vh;
   display: flex;
   justify-content: flex-start;
   column-gap: 100px;
   padding-left: 50px;
}

// BOARD
.board {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 900px;
   height: 600px;
   margin: 0 auto;
}

// SQUARE
.square {
   font-family: "Fuggles";
   width: 300px;
   height: 200px;
   background-color: rgba(219, 230, 230, 0.685);
   border: 3px solid white;
   outline: none;
   cursor: pointer;
   box-sizing: border-box;
   transition: 0.3s all ease 0s;
   font-size: 110px;
   &:hover {
      background-color: rgba(70, 177, 106, 0.671);
      transition: 0.3s all ease 0s;
   }
}

.dead__head,
.game__info {
   font-size: 30px;
   color: white;
}

.score {
   width: 20%;
}

.score__title {
   font-size: 50px;
   color: white;
   text-transform: uppercase;
   margin-bottom: 30px;
   text-align: center;
}

.score__info {
   display: flex;
   justify-content: space-between;
   text-align: center;
   color: white;
   font-size: 26px;
}
.score__result {
   margin-top: 15px;
   font-size: 35px;
}
